<div class="">
  <div class="container main_body">
    <div class="logo_login">
      <a href="javascript:void(0)"><img src="assets/images/logo_login.png" alt="logo"></a>
    </div>
    <h1 class="center">SAMAJ SUTRA<br><span class="hr1"> <img src="assets/images/hr1.png" alt=""></span></h1>
    <p class="sort_deesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus, nibh eget porttitor sagittis, velit erat mollis nibh, ut bibendum urna eros a ipsum. Maecenas vel tellus quis nunc viverra accumsanlibero. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus, nibh eget porttitor sagittis, velit erat mollis nibh, ut bibendum urna eros a ipsum.
    </p>
    <div class="login_cont">
      <div class="title">Login as</div>
      <div class="form_log">
        <div class="buttons">
          <div class="log_btn"><a href="javascript:void(0)" (click)="onLoginasClick(1)">Individual</a></div>
          <div class="cmt">(Direct and indirect)</div>
          
          <div class="log_btn"><a href="javascript:void(0)" (click)="onLoginasClick(2)">Social</a></div>
          <div class="cmt">(Club / Ward / Panchyat)</div>
          
          <div class="log_btn"><a href="javascript:void(0)" (click)="onLoginasClick(3)">Institute</a></div>
          <div class="cmt">(School / College / NGO)</div>
        </div>
      </div>
    </div>
  </div>
</div>