<div class="">
  <div class="container main_body">
    <div class="logo_login">
      <a href="javascript:void(0)"><img src="assets/images/logo_login.png" alt="logo"></a>
    </div>
    <h1 class="center">Reset your password<br><span class="hr1"> <img src="assets/images/hr1.png" alt=""></span></h1>
          
    <div class="login_cont">
      <div class="form_log">
        <form>
          <div class="form-group">
            <label>Email Id</label>
            <input type="text" value="Enter email id" onblur="if(this.value == '') { this.value = 'Enter email id'; }" onfocus="if(this.value == 'Enter email id') { this.value = ''; }" name="" class="form-control">              
          </div> 
          <!-- <div class="cmt">Forgot Password? Enter your email id</div>					 -->
                        
          <div class="form-group">
            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Send password reset email</button>
          </div>
        </form>

        <!-- <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p> -->
      </div>
    </div>
  </div>
</div>