<div class="">
  <div class="container main_body">
    <div class="logo_login">
      <a href="javascript:void(0)"><img src="assets/images/logo_login.png" alt="logo"></a>
    </div>
    <h1 class="center">Reset your password<br><span class="hr1"> <img src="assets/images/hr1.png" alt=""></span></h1>
          
    <div class="login_cont">
      <div class="form_log">
        <form [formGroup]="forgotFormGroup" *ngIf="!resetLinkSent">
          <div class="form-group">
            <label>Email Id</label>
            <input type="text" name="name" class="form-control" autofocus placeholder="Enter email id" formControlName="email" [(ngModel)]="email">
          </div>
          <div class="form-err-feild" 
            *ngIf="forgotFormGroup.controls['email'].errors && (forgotFormGroup.controls['email'].dirty || forgotFormGroup.controls['email'].touched)">
              <p *ngIf="forgotFormGroup.controls['email'].errors.email">*Invalid email. Please enter a valid email id.</p>
          </div>
          <!-- <div class="cmt">Forgot Password? Enter your email id</div>					 -->
                        
          <div class="form-group">
            <button type="submit" name="submit" class="btn btn-primary btn-lg" [disabled]="!forgotFormGroup.valid"
             (click)="onPasswordResetClick()">Send password reset email</button>
          </div>
        </form>

        <div *ngIf="resetLinkSent">
          <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
          <p><a href="javascript:void(0)" (click)="redirectToLogin()">Click here</a> to login.</p>
        </div>
      </div>
    </div>
  </div>
</div>