<div class="container main_body">
     <div class="logo_login">
				<a href="index.html"><img src="/assets/images/logo_login.png" alt="logo"></a>
	</div>
	<h1 class="center">Forgot Password<br><span class="hr1"> <img src="/assets/images/hr1.png" alt=""></span></h1>
				
	<div class="login_cont">
		<div class="form_log">
			<form [formGroup]="forgotPasswordForm" #ngForm="ngForm">
				<div class="form-group">
                    <label>Email Id</label>
					<input type="text" value="Enter email id" class="form-control" [formControl]="email">

					<div class="invalid-feedback form-err-feild" 
		            *ngIf="email.errors && (email.dirty || email.touched)">
		              <span *ngIf="email.errors.email">*Please input a valid email Id.</span>
		              <span *ngIf="email.errors.required">*Email Is is required.</span>
		            </div>  
                </div> 				
						
				<div class="form-group">
                    <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required"
                    	[disabled]="!forgotPasswordForm.valid"
                    >Next</button>
                </div>
			</form>
		</div>
	</div>
</div>